<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="row">
        <div class="leftcolumn">
            <% if (blogs.length > 0) { %>
                <% blogs.forEach(blog => { %>
                    <div class="card">
                        <h2><%= blog.title %></h2>
                        <h5><%= blog.created %></h5>
                        <div class="fakeimg" style="height:200px;">Image</div>
                        <br>
                        <p><%= blog.contents %></p>
                    </div>
                <% }) %>
            <% } else { %>
                <p>There are no blogs to display.</p>
            <% } %>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>
